#
# Various settings that can be controlled via environment variables.
# Default values are shown
#
port=8900
# if you are on a multi-homed machine, you can pick which ip to bind to
# or leave blank for all
#ip=

#
# These are good to set to avoid Slowloris attacks
#
http_write_timeout=10s
http_read_timeout=15s
http_idle_timeout=60s

# how long to gracefully wait for service shutdown
shutdown_wait_timeout=15s